<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TibiHouses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TibiHouses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <TibiHouses.Properties.Settings>
            <setting name="apiURLWorld" serializeAs="String">
                <value>https://dev.tibiadata.com/v4/</value>
            </setting>
            <setting name="apiURLHouses" serializeAs="String">
                <value>https://dev.tibiadata.com/v4/houses/</value>
            </setting>
            <setting name="apiURLHouse" serializeAs="String">
                <value>https://dev.tibiadata.com/v4/house/</value>
            </setting>
            <setting name="errorURL" serializeAs="String">
                <value>https://www.condesi.pe/blog/wp-content/uploads/2019/10/como-reparar-el-error-carga-error-al-escribir-el-archivo-en-el-disco-en-wordpress_5d9d8fb7c3951.jpeg</value>
            </setting>
        </TibiHouses.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TibiHouses.Properties.Settings>
      <setting name="favWorld" serializeAs="String">
        <value>Secura</value>
      </setting>
    </TibiHouses.Properties.Settings>
  </userSettings>
</configuration>